html {
  font-family: "Malgun Gothic";
}
body {
  margin: 0;
  background-image: url(back-texture.jpg);
}
h1 {
  margin: 0;
  margin-bottom: 10px;
}
table {
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #444;
}
td {
  overflow: unset;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 5% 30%;
  min-height: 750px;
  background-image: url(in-texture.png);
  box-shadow: 1px 1px 10px #444;
  background-size: cover;
  padding: 3% 3%;
}
.memo {
  display: flex;
  justify-content: center;
  align-content: center;
}
