<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minuk.test.persistance.TestDao">
	
	<select id="selectAll" resultType="TestDao">
		SELECT sc_num, sc_label, sc_division
		FROM tbl_sch
		WHERE SUBSTR(sc_num,1,2) = #{sc_num}
		GROUP BY sc_num, sc_label, sc_division
		ORDER BY sc_num
	</select>
	
</mapper> 