<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>광주문화관광</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="${rootPath}/static/css/main.css?2022-08-22-001">
<link rel="stylesheet" href="${rootPath}/static/css/student_list.css?2022-08-22-001">
<link rel="stylesheet" href="${rootPath}/static/css/student_detail.css?2022-08-22-001">
<script>
	const rootPath = "${rootPath}"
</script>
<script src="${rootPath}/static/js/main.js?2022-08-22-001">
</script>
<script src="${rootPath}/static/js/list.js?2022-08-22-001"></script>